<div>
    <form class="form-group">
        <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal"
                                    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a recipient to your mailing list!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-outline mb-4">
          <input type="email" id="add-email" class="form-control form-control-lg" />
          <label class="form-label" for="add-email">Add New Email Address</label>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitAddToList">Add To List</button>
      </div>
    </div>
  </div>
</div>
    </form>
</div>