
<h2>Complete each field then click submit</h2>
<form>
    <input type="email" id="emailTo" name="emailTo" placeholder="To..">
    <input type="email" id="emailFrom" name="emailFrom" placeholder="From..">
    <input type="text" id="cc" name="cc" placeholder="CC">
    <input type="text" id="subject" name="subject" placeholder="Subject">
    <input type="text" id="title" name="title" placeholder="Title">
    <input type="text" id="messageText" name="messageText" placeholder="Newsletter content">
    <input type="image" id="imageSrc" name="imageSrc" placeholder="Optional images">
    <button type="submit" id="submitForm">Inform my constituents!</button>
</form>
