
<h2>Complete each field then click submit</h2>
<form>
    <input type="email" id="emailTo" name="emailTo">
    <input type="email" id="emailFrom" name="emailFrom">
    <input type="text" id="cc" name="cc">
    <input type="text" id="subject" name="subject">
    <input type="text" id="title" name="title">
    <input type="text" id="messageText" name="messageText">
    <input type="image" id="imageSrc" name="imageSrc">
    <button type="submit" id="submitForm">Inform my constituents!</button>
</form>
