<div class="col" style="margin: auto;
                      color:rgb(255, 184, 3); 
                      font-size: 1rem; 
                      text-align: center; 
                      font-weight: bold;
                      font-family: 'Nunito Sans', sans-serif;
                      text-shadow: 2px 2px black;">
  <h1><strong>Create a Newsletter!</strong></h1>
  <p>Complete each field and click the save button to send and save:</p>
  <form>
    <div class="mb-3">
      {{!-- <label for="subject" class="form-label">Subject</label> --}}
      <input
        type="text"
        class="form-control"
        id="subject"
        aria-describedby="subject"
        name="subject"
        placeholder="Subject"
      />
    </div>


    <div class="mb-3">
      {{!-- <label for="title" class="form-label">Newsletter Headline</label> --}}
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Write what your want your headline to say here"
      />
    </div>

    <div class="mb-3">
      {{!-- <label for="message" class="form-label">Newsletter Content</label> --}}
      <textarea
        type="text"
        class="form-control"
        id="message"
        placeholder="Write your content here"
        rows="10"
      ></textarea>
    </div>

    <div class="mb-3">
      <label class="p-3" for="headerImgMenu">Pick a header image for your
        newsletter</label>
      <select name="headerImgMenu" id="headerImgMenu">
      <option value="None">No Header Image</option>
      <option value="Purple Palms">Purple Palms</option>
      <option value="Misty Mountains">Misty Mountains</option>
      <option value="Urban Legends">Urban Legends</option>
      <option value="Calm Countryside">Calm Countryside</option>
      
      </select>
    </div>
<div class="mb-3">
    <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="submit" class="btn btn-danger" id="cancelBtn"><a href="/" style="text-decoration: none; color:white;">Cancel</a></button>
  </div>
  </form>
</div>

<script src="../nodemailer/newsletterSubmitHandler.js"></script>
